site_name: Documentación Mc Ilerna Albor Croft
theme:
  name: material
  language: es
  palette:
    - scheme: default
      primary: red
      accent: red
    - scheme: slate
      primary: red
      accent: red
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid
  - tables

plugins:
  - search
  - mermaid2

nav:
  - Inicio: index.md
  - Requerimientos: requerimientos.md
  - Análisis: analisis.md
  - Diseño:
      - Modelo Entidad-Relación: diseno-er.md
      - Diseño Lógico: diseno-logico.md
  - Implementación:
      - Script SQL: implementacion/script-sql.md
      - Pruebas y Validación: implementacion/pruebas.md
  - Seguridad: seguridad.md